@charset "UTF-8";
/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

/*
:root {
	--grey-100: hsl(0, 0%, 10%);
	--grey-200: hsl(0, 0%, 20%);
	--grey-300: hsl(0, 0%, 30%);
	--grey-400: hsl(0, 0%, 40%);
	--grey-500: hsl(0, 0%, 50%);
	--grey-600: hsl(0, 0%, 60%);
	--grey-700: hsl(0, 0%, 70%);
	--grey-800: hsl(0, 0%, 80%);
	--grey-900: hsl(0, 0%, 90%);

	--primary: #004769;
	--accent: rgba(201, 201, 201, 0);

	--font-default: 'Open Sans', sans-serif;
	--font-special: 'Raleway', sans-serif;

	--spacer: 1rem;
	--spacer-quarter: calc(var(--spacer) / 4);
	--spacer-half: calc(var(--spacer) / 2);
	--spacer-bigger: calc(var(--spacer) * 1.5);
	--spacer-double: calc(var(--spacer) * 2);
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  line-height: 2;
}

label,
input,
p {
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

/*
a {
  text-decoration: none;
  color: black;
}*/
body {
  margin: 0;
  font-family: "Open sans", serif;
  -webkit-animation: opening 1s ease-in-out forwards;
          animation: opening 1s ease-in-out forwards;
  background-color: white;
}

h1 {
  font-family: "Open sans", cursive;
}

/*
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 90%;
  background-color: $c-primary;
  margin: 0 auto;
}

/*
@media screen and (min-width: 1040px) {
  .hero {
    width: 80%;
  }
}*/
/*.container {
  display: inline-block;
}*/
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.galery__text--primary {
  margin: 5px auto;
  text-align: center;
  text-transform: uppercase;
}

.main__photo {
  max-width: 200px;
  width: 100%;
  opacity: 1;
  transition: 0.3s ease-in-out;
  margin: 0.5rem;
  border-radius: 3px;
  box-shadow: 0px 5px 5px rgb(154, 154, 154);
}

.main__photo:hover {
  opacity: 0.7;
}

@media screen and (min-width: 1040px) {
  /* Fotogalerie */
  /* .container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(6, 400px);
     gap: 2px;
   }

  /* .main__galery img {
     width: 300px;
     width: 100%;
     height: 100%;
     -o-object-fit: cover;
     object-fit: cover;
   }

   .container {

     display: flex;
     flex-wrap: wrap;
     //margin: 0 auto;
   }

   .main__photo {
     max-width: 300px;

     flex: 1 1 calc(100% / 3);
   }

   /*.main__photo {

     }*/
}
.about {
  width: 60%;
  margin: 2rem auto;
  text-align: center;
  padding: 2rem;
}

@media screen and (max-width: 1400px) {
  .about {
    width: 90%;
  }
}
.aside {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .aside {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .aside {
    width: 90%;
  }
}
.clanek__name {
  text-transform: uppercase;
}

.clanek {
  display: inline-block;
  max-width: 400px;
  width: 100%;
  margin: 1rem auto;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 5px 5px rgb(192, 192, 192);
}
.clanek figure {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
.clanek figure:hover + span {
  bottom: -36px;
  opacity: 1;
}
.clanek figure img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.clanek figure:hover img {
  transform: scale(1.3);
}
.clanek__image {
  width: 100%;
}
.clanek__name {
  padding: 0;
  margin: 0;
}
.clanek__description {
  font-size: 15px;
  padding: 0.5rem;
  justify-content: center;
}

.clanek__info {
  color: rgb(6, 154, 184);
}

/*
@media screen and (min-width: 1040px) {
  .clanek {
    margin: 1rem auto;

    &__image {
      max-width: 300px;
      width: 100%;
    }
  }
}*/
.button-form {
  text-align: end;
  margin-top: 5px;
}

/*button {
  cursor: pointer;
  font-size: 16px;
  padding: 2px 5px;
  background-color: #04AA6D;
  border: #04AA6D 2px solid;
  border-radius: 10px;
  color: white;

}*/
/* CSS */
.button-48 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  border: 1px solid rgb(165, 165, 165);
  font-family: "Open sans", serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 100ms cubic-bezier(0.694, 0, 0.335, 1), color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  -webkit-animation: opacityFallbackOut 0.5s step-end forwards;
          animation: opacityFallbackOut 0.5s step-end forwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #EBEBEB;
  -webkit-clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
          clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  -webkit-animation: opacityFallbackIn 0s step-start forwards;
          animation: opacityFallbackIn 0s step-start forwards;
  -webkit-clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
          clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

.footer {
  padding: 2rem;
  background-color: #101010;
  color: white;
}
.footer__address {
  padding: 1rem;
}
.footer__title, .footer__address li {
  text-transform: uppercase;
}
.footer__address a {
  color: white;
}
.footer__contact {
  margin-left: 23px;
  position: relative;
}
.footer__icon {
  margin: 0 4px;
  position: absolute;
  top: 5px;
  left: -30px;
}
.footer__map {
  margin-top: 1rem;
  width: 100%;
  height: 400px;
}
.footer__border {
  border-top: 1px solid white;
  width: 80%;
}
.footer__copyright {
  padding: 10px;
  text-align: center;
  background-color: #101010;
  color: white;
}

@media screen and (min-width: 810px) {
  .footer {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    padding: 3rem;
  }
}
.glide {
  height: 500px;
  box-shadow: 0px 5px 5px grey;
  /*&__site2--box h2 {
    color: rgb(43, 43, 43);
    border: 1px solid global.$c-shadow;
    padding: 1rem;
    /*background: linear-gradient(#4b4b4d, #202020);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
  /*background-color: rgba(222, 222, 222, 0.5);
  }*/
}
.glide h2 {
  text-transform: uppercase;
}
.glide__site1 {
  background: url("/images/vyroba/drawingsSM-copy.jpg");
}
.glide__site2 {
  background: url("/images/vyroba/obrabeni5-copy.jpg");
}
.glide__site3 {
  background: url("/images/vyroba/svarovani2-copy.jpg");
}
.glide__site1, .glide__site2, .glide__site3 {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.glide__site1 h2, .glide__site3 h2, .glide__site2--box h2 {
  background: rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
}

.header__contact {
  padding: 0.5rem 1rem;
  font-size: 14px;
  text-align: right;
  background-color: #101010;
  color: white;
}

.header__contact-box {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header__contact-email {
  margin-right: 3rem;
}

.header__contact-email,
.header__contact-phone {
  position: relative;
}

.header__icon {
  margin: 0 4px;
  position: absolute;
  top: 5px;
  left: -30px;
}

@media screen and (max-width: 352px) {
  .header__contact-email {
    margin-right: 0;
  }
}
.header__contact a {
  color: white;
}

.main-head {
  box-shadow: 0px 10px 10px rgba(78, 78, 78, 0.5);
  z-index: 2;
  position: relative;
  margin: auto;
  background-color: white;
}

#logo {
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex: 1 1 30rem;
  width: 14rem;
  max-width: 100%;
}

@media screen and (max-width: 842px) {
  #logo {
    flex: 1 1 30rem;
    width: 8rem;
    max-width: 100%;
  }
}
.menu {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 4rem 1rem;
  align-items: center;
  max-height: 10vh;
}
.menu__item {
  margin: 0;
  padding: 0;
}
.menu__item:not(:last-child) {
  border-right: 1px solid grey;
}
.menu__link {
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(90deg, #9c8383 50%, #000 0) var(--_p, 100%)/200% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.4s;
}
.menu__link:hover {
  --_p: 0%;
}

.nav-links {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 842px) {
  .menu {
    padding: 0;
  }
  .menu__item:not(:last-child) {
    border-right: none;
  }
  .nav-links a {
    font-size: 20px;
    margin-top: 30px;
    color: white;
    text-decoration: none;
  }
  .nav-links {
    background: #101010;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }
  .nav-open {
    transform: translateX(-100%);
  }
  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }
  /* Animations */
  @-webkit-keyframes opening {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes opening {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
.burger,
.menu-check {
  display: none;
}

@media screen and (max-width: 842px) {
  /* Burger thing */
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 1.5rem;
    background-color: rgb(49, 49, 49);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
}
.background-img {
  background-image: url("/images/obrabeni/obrabeni-copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

.background-img--services {
  background-image: url("/images/vyroba/technical-drawing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

.background-img--services2 {
  background-image: url("/images/vyroba/svarovani2-copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

.formular {
  padding: 1rem;
  margin: 1rem auto;
  width: 500px;
  max-width: 100%;
}

input {
  margin-bottom: 5px;
  height: 30px;
  max-width: 250px;
  width: 100%;
}

input,
textarea {
  font-size: 16px;
  padding: 2px;
}

textarea {
  height: 200px;
  max-width: 500px;
  width: 100%;
}

.firma-form,
.name-form,
.email-form,
.tel-form {
  margin-right: 10px;
  padding: 2rem auto;
}

.text-form {
  margin-top: 20px;
  padding: 1rem auto;
}

/*
.form__flex {
  display: flex;
  max-width: 200px;
}*/
.services__text--primary h1 {
  text-transform: uppercase;
  margin: 2rem auto;
}

.services__text--primary p {
  margin-bottom: 2rem;
}

.services__wrapper {
  width: 75%;
  margin: 4rem auto;
  text-align: center;
}

@media screen and (max-width: 842px) {
  .services__wrapper {
    width: 90%;
    padding: 0;
  }
}
.con__flex {
  margin: auto 2rem auto 15rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.con__title {
  text-transform: uppercase;
  margin-top: 3rem;
  text-align: center;
}

.con {
  list-style: 1.5;
  margin: 0 auto;
  text-align: center;
}

.con__icon {
  margin: 1rem;
  align-items: center;
}

.icon {
  margin: 0 1rem;
}

@media screen and (max-width: 1060px) {
  .con__flex {
    margin: 2rem auto;
  }
}
.reference {
  width: 90%;
  margin: 2rem auto;
  text-align: center;
  padding: 2rem;
  list-style: 1.5;
}

.reference h2 {
  margin: 2rem auto;
  text-transform: uppercase;
}

.reference__box {
  width: 90%;
  margin: 2rem auto;
}

.reference ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reference__box li {
  padding: 2rem 2rem 0 2rem;
}

.ref-img {
  margin-top: 1rem;
}

@media screen and (max-width: 842px) {
  .reference {
    width: 90%;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */