@use 'global';

.aside {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}


@media screen and (max-width: 1400px) {
  .aside {
    width: 90%;
  }
}


@media screen and (max-width: 600px) {
  .aside {
    width: 90%;
  }
}