@use 'global';

.background-img {
  background-image: url('/images/obrabeni/obrabeni2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
  margin-top: 5rem;
}


.background-img--services {
  background-image: url('/images/vyroba/technical-drawing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

.background-img--services2 {
  background-image: url('/images/vyroba/svarovani2-copy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}