@use 'global';

.background-img {
  background-image: url('/images/obrabeni/obrabeni2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 250px;
}


.background-img--services {
  background-image: url('/images/obrabeni/IMG20210812181116_00.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
}