@use 'global';

.burger,
.menu-check {
  display: none;
}

@media screen and (max-width: 842px) {

  /* Burger thing */
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }

  .burger span {
    padding: 0.2rem 1.5rem;
    background-color: rgb(49, 49, 49);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
}