@use 'global';

.clanek {
  display: inline-block;
  max-width: 310px;
  width: 100%;
  margin: 1rem auto;
  background-color: global.$c-primary;
  border-radius: 2px;
  box-shadow: 0px 5px 5px global.$c-shadow;

  &__image {
    width: 100%;
  }

  &__name {
    padding: 0;
    margin: 0;
  }

  &__description {
    font-size: 15px;
    padding: 1rem;
    justify-content: center;
  }

}

.clanek__info {
  color: rgb(6, 154, 184);
}

@media screen and (min-width: 1040px) {

  .clanek {
    max-width: 350px;

  }
}

/*
@media screen and (min-width: 1040px) {
  .clanek {
    margin: 1rem auto;

    &__image {
      max-width: 300px;
      width: 100%;
    }
  }
}*/