@use 'global';


.footer {
  padding: 2rem;
  background-color: rgb(107, 107, 107);
  color: white;
}

.footer a {
  color: white;
}

.footer__address {
  padding: 1rem;
}

.footer__title,
.footer__address li {
  text-transform: uppercase;
}

.footer__contact {
  margin-left: 23px;
  position: relative;
}

.footer__icon {
  margin: 0 4px;
  position: absolute;
  top: 5px;
  left: -30px;
}

.footer__map {
  margin-top: 1rem;
  width: 100%;
  height: 400px;
}

.footer__copyright {
  padding: 10px;
  text-align: center;
  background-color: rgb(65, 65, 65);
  color: white;
}

@media screen and (min-width: 810px) {

  .footer {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    padding: 3rem;
  }
}