@use 'global';


.footer {
  padding: 2rem;
  background-color: #101010;
  color: white;

  &__address {
    padding: 1rem;
  }

  &__title,
  &__address li {
    text-transform: uppercase;
  }

  &__address a {
    color: white;
  }

  &__contact {
    margin-left: 23px;
    position: relative;
  }

  &__icon {
    margin: 0 4px;
    position: absolute;
    top: 5px;
    left: -30px;
  }

  &__map {
    margin-top: 1rem;
    width: 100%;
    height: 400px;
  }

  &__border {
    border-top: 1px solid white;
    width: 80%;
  }

  &__copyright {
    padding: 10px;
    text-align: center;
    background-color: #101010;
    color: white;
  }
}

@media screen and (min-width: 810px) {

  .footer {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    padding: 3rem;
  }
}