@use 'global';


.contact {
  padding: 2rem;
  background-color: rgb(65, 65, 65);
  color: white;
}

.contact a {
  color: white;
}

.contact__adress {
  margin-top: 1.5rem;
}


.contact__title {
  text-transform: uppercase;
  
}

.contact__map {
  margin-top: 1rem;
  width: 100%;
  height: 450px;
  
}

.footer__copyright {
  padding: 10px;
  text-align: center;
  background-color: rgb(65, 65, 65);
  color: white;
}

@media screen and (min-width: 1040px) {

  .contact {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    padding: 3rem;

  }
}