@use 'global';


.formular {
  margin: 2rem auto;
}

.form-head {
  text-transform: uppercase;
  padding: 2rem;

}

/*
.name-form,
.email-form,
.text-form,
.tel-form {
  padding: 1rem auto;
}

.send {
  text-align: right;
}*/