@use 'global';

.menu {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 4rem 1rem;
  align-items: center;
  max-height: 10vh;

  &__item {
    margin: 0;
    padding: 0;
  }

  &__item:not(:last-child) {
    border-right: 1px solid grey;
  }

  &__link {
    display: block;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #0000;
    background:
      linear-gradient(90deg, #9c8383 50%, #000 0) var(--_p, 100%)/200% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    transition: .4s;
  }

  &__link:hover {
    --_p: 0%;
  }
}

.nav-links {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 842px) {

  .menu {
    padding: 0;

    &__item:not(:last-child) {
      border-right: none;
    }
  }



  .nav-links a {
    font-size: 20px;
    margin-top: 30px;
    color: white;
    //font-size: var(--header3);
    text-decoration: none;
  }

  .nav-links {
    background: #101010;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }

  .nav-open {
    transform: translateX(-100%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }

  /* Animations */

  @keyframes opening {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

}