@use 'global';


.services__wrapper {
  width: 70%;
  margin: 2rem auto;
  text-align: center;
}

@media screen and (max-width: 842px) {

  .services__wrapper {
    width: 90%;
    padding: 0;
  }
  
  }
