<!-- Kontakt -->
<!-- {% if page.fileSlug !== 'kontakt' %} -->

  <div class="contact__map">
    <div style="position: relative;"><iframe width=100% height="450" src="https://maps.google.com/maps?width=700&amp;height=450&amp;hl=en&amp;q=na%20b%C4%9Blidle%201230+(Titul)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="http://www.googlemapsgenerator.com/zh/">Googlemapsgenerator.com/zh/</a> & <a href="https://xn--ntcasinoutanlicens-ltb.net/">nätcasinoutanlicens.net</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
  </div>

<section class="contact">
  <div class="contact__address">
    <ul>
        <li><a href="#">Úvod</a></li>
        <li><a href="#sluzby">Nabídka služeb</a></li>
        <li><a href="#reference">Reference</a></li>
        <li><a href="#kontakt">Kontakt</a></li>
    </ul>
  </div>


  <div class="contact__address">
    <p class="contact__title"><strong>Fakturační adresa</strong></p>
    <p><strong>Jan Kočka</strong></p>
    <p><strong>IČO: </strong>000000000</p>
    <p>Nad Jihlávkou 5066/10, 58601 Jihlava</p>
  </div>

  <div class="contact__address">
    <p class="contact__title"><strong>Kontaktní adresa</strong></p>
    <p><strong>Jan Kočka</strong></p>
    <p><strong>Na bělidle 1230 </strong></p>
    <p>58601 Jihlava</p>
  </div>
    
  <div class="contact__address">
    <p class="contact__title"><strong>Kontaktní údaje</strong></p>
      <p><strong>tel: </strong>  +420 739 175 83</p>
      <p><strong>e-mail: </strong><a href="mailto:jan-kocka@seznam.cz">jan-kocka@seznam.cz</a></p>
  </div>
</section>

<!--{% endif %}-->


<div class="footer__copyright">
    &copy; 2022 Jan Kočka. Všechna práva vyhrazena. All rights reserved. 
</div>