<section class="landing">
  <div class="main-head">
    <div class="header__contact">
      <div class="header__contact-email"><a  href="mailto:jan-kocka@seznam.cz"><img class="header__icon" src="/images/header-envelope.png" alt="e-mail" width="20" >jan-kocka@seznam.cz</a></div>
      <div class="header__contact-phone"><img class="header__icon" src="/images/telephone.png" alt="telephone" width="20"> +420 739 175 831</div>
    </div>
    <nav class="menu">
      <a href="/"><img id="logo" src="/images/logo.png" alt="logo"></a>
          <ul class="nav-links">
            <li class="menu__item"><a href="/" class="menu__link">Úvod</a></li>
            <li class="menu__item"><a href="/#sluzby" class="menu__link">Nabídka služeb</a></li>
            <li class="menu__item"><a href="/galerie" class="menu__link">Galerie</a></li>
            <li class="menu__item"><a href="/#reference" class="menu__link">Reference</a></li>
            <li class="menu__item"><a href="/#kontakt" class="menu__link">Kontakt</a></li>
          </ul>
          <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
          </div>
        </nav>
  </div>

</section>