<section class="landing">
  <div class="main-head">
    <div class="header__contact">
      <a class="header__contact-email" href="mailto:jan-kocka@seznam.cz">jan-kocka@seznam.cz</a>
      <span class="header__contact-phone">Tel. +420 739 175 831</span>
    </div>
    <nav class="menu">
      <a href="/"><img id="logo" src="/images/logo.png" alt="logo"></a>
          <ul class="nav-links">
            <li class="menu__item"><a href="/" class="menu__link">Úvod</a></li>
            <li class="menu__item"><a href="/#prehled" class="menu__link">Přehled služeb</a></li>
            <li class="menu__item"><a href="/#formular" class="menu__link">Poptávkový formulář</a></li>
            <li class="menu__item"><a href="/#kontakt" class="menu__link">Kontakt</a></li>
          </ul>
          <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
          </div>
        </nav>
  </div>

</section>